.container-img-create {
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 1rem;

  display: grid;
  grid-template-columns: 120px 1fr;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.img-create {
  width: 120px;
  height: 120px;
}

.description-img-create {
  max-height: 120px;
  padding: 1rem;

  font-family: 'IM Fell English', serif;

  background: #0c0c0c;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #090909 #101010;
}

.form-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.select-create,
.input-form-create {
  width: 100%;
  max-width: 240px;
  padding: 0.6rem;

  font-family: 'IM Fell English', serif;

  border: none;

  color: whitesmoke;
  background: #101010;
}

.select-create option {
  background: #121212;
}

.input-form-create {
  border-bottom: 1px solid whitesmoke;
}

.input-form-create:focus,
.select-create:focus {
  outline: none;
}

.input-form-create::placeholder {
  color: rgba(245, 245, 245, 0.36);
}

.container-stats-create {
  margin: 1rem auto;

  width: 100%;
  max-width: 220px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 1px solid whitesmoke;
}

.h4-stats-create {
  text-align: center;
  font-family: 'IM Fell English', serif;
  color: turquoise;
  border-bottom: 1px solid whitesmoke;
}

.ul-create {
  margin-top: 0.7rem;
  list-style: none;

  font-family: 'Cinzel', serif;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.li-create.name,
.li-create.weapon {
  font-family: 'IM Fell English', serif;
}

.li-create span {
  color: turquoise;
  font-family: 'IM Fell English', serif;
}
