.container-img-create {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;

  display: grid;
  grid-template-columns: 120px 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.7rem;
}

.img-create {
  width: 120px;
  height: 120px;
}

.description-img-create {
  max-height: 120px;
  padding: 1rem;

  font-family: 'IM Fell English', serif;

  background: #101010;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #090909 #101010;
}

.form-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.select-create,
.input-form-create {
  width: 100%;
  max-width: 240px;

  padding: 0.6rem;

  border: none;

  color: whitesmoke;
  background: #101010;
}

.select-create option {
  background: #121212;
}

.input-form-create {
  border-bottom: 1px solid whitesmoke;
}

.input-form-create:focus,
.select-create:focus {
  outline: none;
}

.input-form-create::placeholder {
  color: rgba(245, 245, 245, 0.36);
}