.h1-menu-title {
  margin: auto;
  width: 100%;
  max-width: 400px;

  font-family: 'Cinzel', serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid whitesmoke;
}

.container-buttons-menu {
  margin: 10px auto;
  width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-menu {
  cursor: pointer;
  font-family: 'Cinzel', serif;
  font-weight: 600;
  font-size: 24px;

  width: 100%;
  padding: 1.2rem;

  border: 2px solid whitesmoke;
  border-radius: 5px;

  color: whitesmoke;
  background: transparent;
}

.images-menu {
  margin: auto;
  width: 100%;
  max-width: 800px;

  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.images-menu img {
  width: 380px;
  height: 380px;
  object-fit: cover;
}